@model bFit.Web.Data.Entities.Profiles.LocalGym

@{
    ViewData["Title"] = Model.Name;
    ViewData["BackAction"] = "Index";
    ViewData["EditAction"] = "Edit";
    ViewData["DetailsAction"] = "Details";
}

<partial name="Controls/_Header" />

<div class="row">
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="legal_id">
                @Html.DisplayNameFor(model => model.PhoneNumber):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="legal_id" disabled
               aria-describedby="fullname" value="@Html.DisplayFor(model => model.PhoneNumber)">
    </div>
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="registered_name">
                @Html.DisplayNameFor(model => model.Email):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="registered_name" disabled
               aria-describedby="address" value="@Model.Email">
    </div>
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="trade_name">
                @Html.DisplayNameFor(model => model.Address):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="trade_name" disabled
               aria-describedby="town" value="@Html.DisplayFor(model => model.Address)">
    </div>
</div>
<div>
    <partial name="Controls/_BtnEdit" view-data="ViewData" model="@Model" />
    <partial name="Controls/_BtnBack" view-data="ViewData" />
</div>
<partial name="Controls/_Footer" />