@model IEnumerable<bFit.Web.Data.Entities.Profiles.Franchise>

@{
    ViewData["Title"] = "Franquicia";
    ViewData["EditAction"] = "Edit";
}

    <partial name="Controls/_HeaderTable" />
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LegalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LegalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <partial name="Controls/_BtnEditNoText" view-data="ViewData" model="item" />
                <partial name="Controls/_BtnDetails" model="item" />
                <partial name="Controls/_BtnDelete" model="item" />
            </td>
        </tr>
}
    </tbody>
    <partial name="Controls/_FooterTable" />
