@model bFit.Web.Data.Entities.Common.District

@{
    ViewData["Title"] = "Distrito";
    ViewData["BackAction"] = "Index";
    ViewData["EditAction"] = "Edit";
    ViewData["DetailsAction"] = "Details";
}

<partial name="Controls/_Header" />

<div class="row">
    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="county">
                @Html.DisplayNameFor(model => model.County.State.Country):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="county" disabled
               aria-describedby="county" value="@Html.DisplayFor(model => model.County.State.Country.Name)">
    </div>

    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="county">
                @Html.DisplayNameFor(model => model.County.State):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="county" disabled
               aria-describedby="county" value="@Html.DisplayFor(model => model.County.State.Name)">
    </div>

    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="county">
                @Html.DisplayNameFor(model => model.County):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="county" disabled
               aria-describedby="county" value="@Html.DisplayFor(model => model.County.Name)">
    </div>

    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name">
                @Html.DisplayNameFor(model => model.Name):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="name" disabled
               aria-describedby="name" value="@Html.DisplayFor(model => model.Name)">
    </div>
</div>
<div>
    <partial name="Controls/_BtnEdit" view-data="ViewData" model="@Model" />
    <partial name="Controls/_BtnBack" view-data="ViewData" />
</div>
<partial name="Controls/_Footer" />