@model IEnumerable<bFit.Web.Data.Entities.Profiles.Trainer>

@{
    ViewData["Title"] = "Entrenadores";
    ViewData["EditAction"] = "Edit";
}

<partial name="Controls/_HeaderTable" />
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th>
            <a>Correo electrónico</a>
        </th>
        <th>
            <a>Número telefónico</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalGym)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Town.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGym.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("FranchiseAdmin") 
                    || User.IsInRole("GymAdmin"))
                {
                    <partial name="Controls/_BtnEditNoText" view-data="ViewData" model="item" />
                    <partial name="Controls/_BtnDetails" model="item" />
                    <partial name="Controls/_BtnDelete" model="item" />
                }
                else
                {
                    <partial name="Controls/_BtnDetails" model="item" />
                }
            </td>
        </tr>
    }
</tbody>
<partial name="Controls/_FooterTable" />