@model bFit.Web.Models.CustomerViewModel

@{
    ViewData["Title"] = Model.FullName;
}

<partial name="Details/_Header" />

<div class="row">
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="socialsecurity">
                @Html.DisplayNameFor(model => model.SocialSecurity):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="socialsecurity" disabled
               aria-describedby="socialsecurity" value="@Html.DisplayFor(model => model.SocialSecurity)">
    </div>

    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="fullname">
                @Html.DisplayNameFor(model => model.FullName):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="fullname" disabled
               aria-describedby="fullname" value="@Html.DisplayFor(model => model.FullName)">
    </div>

    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="birthday">
                @Html.DisplayNameFor(model => model.Birthday):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="birthday" disabled
               aria-describedby="birthday" value="@Html.DisplayFor(model => model.Birthday)">
    </div>
</div>

<div class="row">
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="email">
                @Html.DisplayNameFor(model => model.Email):
            </span>
        </div>
        <input type="email" class="form-control" aria-label="email" disabled
               aria-describedby="email" value="@Html.DisplayFor(model => model.Email)">
    </div>

    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="cellphone">
                @Html.DisplayNameFor(model => model.CellPhone):
            </span>
        </div>
        <input type="tel" class="form-control" aria-label="cellphone" disabled
               aria-describedby="cellphone" value="@Html.DisplayFor(model => model.CellPhone)">
    </div>

    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="gender">
                @Html.DisplayNameFor(model => model.Gender):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="gender" disabled
               aria-describedby="gender" value="@Html.DisplayFor(model => model.Gender.Name)">
    </div>
</div>


<!--dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.SocialSecurity)
    </dt>
    <dd class="col-sm-3">
        @Html.DisplayFor(model => model.SocialSecurity)
    </dd>
</!--dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastName1)
    </dt>
    <dd class="col-sm-3">
        @Html.DisplayFor(model => model.LastName1)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastName2)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastName2)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Town)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Town.Name)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Address)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Birthday)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Birthday)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Gender)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Gender.Name)
    </dd>
</dl-->
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<partial name="Details/_Footer" />
