@model bFit.WEB.Data.Entities.Profiles.Customer

@{
    ViewData["Title"] = Model.FullName;
}

<partial name="Details/_Header" />

<div class="row">
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="socialsecurity">
                @Html.DisplayNameFor(model => model.User.SocialSecurity):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="socialsecurity" disabled
               aria-describedby="socialsecurity" value="@Html.DisplayFor(model => model.User.SocialSecurity)">
    </div>

    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="fullname">
                @Html.DisplayNameFor(model => model.FullName):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="fullname" disabled
               aria-describedby="fullname" value="@Html.DisplayFor(model => model.FullName)">
    </div>

    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="birthday">
                @Html.DisplayNameFor(model => model.Birthday):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="birthday" disabled
               aria-describedby="birthday" value="@Html.DisplayFor(model => model.Birthday)">
    </div>
</div>

<div class="row">
    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="email">
                @Html.DisplayNameFor(model => model.User.Email):
            </span>
        </div>
        <input type="email" class="form-control" aria-label="email" disabled
               aria-describedby="email" value="@Html.DisplayFor(model => model.User.Email)">
    </div>

    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="cellphone">
                @Html.DisplayNameFor(model => model.User.PhoneNumber):
            </span>
        </div>
        <input type="tel" class="form-control" aria-label="cellphone" disabled
               aria-describedby="cellphone" value="@Html.DisplayFor(model => model.User.PhoneNumber)">
    </div>

    <div class="input-group mb-3 col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="gender">
                @Html.DisplayNameFor(model => model.Gender):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="gender" disabled
               aria-describedby="gender" value="@Html.DisplayFor(model => model.Gender.Name)">
    </div>
</div>

<div>
    <partial name="Details/_BtnEdit" model="@Model" />
    <partial name="Details/_BtnBack" />
</div>
<partial name="Details/_Footer" />

@if (Model.WorkOutRoutines == null)
{
    <h4>Sin rutinas</h4>
} else
{
    <h4>Tiene rutinas</h4>
}
