@model IEnumerable<bFit.Web.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Clientes";
}
<partial name="IndexList/_Header" />
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SocialSecurity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <partial name="IndexList/_BtnEdit" model="item" />
                <partial name="IndexList/_BtnDetails" model="item" />
                <partial name="IndexList/_BtnDelete" model="item" />
            </td>
        </tr>
}
    </tbody>
<partial name="IndexList/_Footer" />
