@model bFit.Web.Models.SetTemplateViewModel

@{
    ViewData["Title"] = "Editar circuito";
    ViewData["EditAction"] = "EditSubSet";
    Model.SetTemplateId = Model.Id;
}

<partial name="Controls/_Header" />

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <form asp-action="EditSet">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="SetTemplateId" />
                    <input type="hidden" asp-for="TemplateId" />

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="ExerciseId" class="control-label"></label>
                            <select asp-for="ExerciseId" asp-items="Model.Exercises" class="form-control"></select>
                            <span asp-validation-for="ExerciseId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="PositiveTime" class="control-label"></label>
                            <input asp-for="PositiveTime" class="form-control" />
                            <span asp-validation-for="PositiveTime" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="NegativeTime" class="control-label"></label>
                            <input asp-for="NegativeTime" class="form-control" />
                            <span asp-validation-for="NegativeTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="SubSetTypeId" class="control-label"></label>
                            <select asp-for="SubSetTypeId" asp-items="Model.SubSetTypes" class="form-control"></select>
                            <span asp-validation-for="SubSetTypeId" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Remarks" class="control-label"></label>
                            <input asp-for="Remarks" class="form-control" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.TemplateId">
                                Volver al listado
                                <svg class="bi bi-arrow-left" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.854 6.646a.5.5 0 010 .708L5.207 10l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd" d="M4.5 10a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                @if (Model.SubSetTemplates != null)
                {
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Ejercicios</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive-sm table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bolder">
                                            @Html.DisplayNameFor(modelItem => Model.SubSetTemplates.FirstOrDefault().Exercise.Name)
                                        </th>
                                        <th class="font-weight-bolder">
                                            @Html.DisplayNameFor(modelItem => Model.SubSetTemplates.FirstOrDefault().Exercise.ExerciseType)
                                        </th>
                                        <th class="font-weight-bolder">
                                            @Html.DisplayNameFor(modelItem => Model.SubSetTemplates.FirstOrDefault().Quantity)
                                        </th>
                                        <th class="font-weight-bolder">
                                            @Html.DisplayNameFor(modelItem => Model.SubSetTemplates.FirstOrDefault().PositiveTime)
                                        </th>
                                        <th class="font-weight-bolder">
                                            @Html.DisplayNameFor(modelItem => Model.SubSetTemplates.FirstOrDefault().NegativeTime)
                                        </th>
                                        <th class="font-weight-bolder">
                                            @Html.DisplayNameFor(modelItem => Model.SubSetTemplates.FirstOrDefault().Remarks)
                                        </th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SubSetTemplates)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Exercise.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubSetType.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PositiveTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NegativeTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Remarks)
                                            </td>
                                            <td>
                                                <partial name="Controls/_BtnEditNoText" view-data="ViewData" model="@item" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<partial name="Controls/_Footer" />