@model bFit.Web.Data.Entities.Workouts.Exercise

@{
    ViewData["Title"] = Model.Name;
    ViewData["BackAction"] = "Index";
    ViewData["EditAction"] = "Edit";
    ViewData["DetailsAction"] = "Details";
}

<partial name="Controls/_Header" />

<div class="row">
    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="fullname">
                @Html.DisplayNameFor(model => model.Name):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="fullname" disabled
               aria-describedby="fullname" value="@Html.DisplayFor(model => model.Name)">
    </div>

    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="birthday">
                @Html.DisplayNameFor(model => model.ExerciseType):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="birthday" disabled
               aria-describedby="birthday" value="@Html.DisplayFor(model => model.ExerciseType.Name)">
    </div>

    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="birthday">
                @Html.DisplayNameFor(model => model.Image):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="birthday" disabled
               aria-describedby="birthday" value="@Html.DisplayFor(model => model.Image)">
    </div>
    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="birthday">
                @Html.DisplayNameFor(model => model.VideoUrl):
            </span>
        </div>
        <input type="text" class="form-control" aria-label="birthday" disabled
               aria-describedby="birthday" value="@Html.DisplayFor(model => model.VideoUrl)">
    </div>
</div>

<div>
    <partial name="Controls/_BtnEdit" view-data="ViewData" model="@Model" />
    <partial name="Controls/_BtnBack" view-data="ViewData" />
</div>
<partial name="Controls/_Footer" />